@media (max-width: 430px) {
    .all-button {
        display: none !important;
    }

    .logoimg {
        height: 43px !important;
        width: 43px !important;
    }

    .pages {
        display: none;
    }
    .hamshow{
        display: block !important;
    }
    .hamhide{
        display: none !important;
    }
}